{% extends 'base.html' %}

{% block base_messages %}
    {% if meal_form.errors %}
        <p style="color: red;">
            Please correct the error{{ meal_form.errors|pluralize }} below.
        {{ meal_form.errors }}
        </p>
    {% endif %}
{% endblock %}

{% block base_content %}
    <form method="post" class="form-horizontal" role="form" action="">
        {% csrf_token %}
        <h1 class="text-center white">New Meal</h1>
        <br/>
        <table>
            {{ meal_form.as_table }}
        </table>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="submit" class="btn btn-info">Create and New</button>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-default">Back</button>
{% endblock %}